 :root{
     --title-text-color:#212121;
     --paragraph-text-color:#757575;
     --accent-color:#2196F3;
     --button-text-color:#FFFFFF;
     --main-background-color:#E5E5E5;
 }
 /* :root  */
/* для боді background-color: E5E5E5; */
 /* колір заголовків color: #212121; */
 /*колір ссилок і кнопок color: 2196F3; */
 /*колір для текстів абзацу color: 757575; */
 /* колір для Н1 і кнопок color:FFFFFF; */
 }
 /* base */
 /* color for body */
 /* font-family:Raleway – 700,Roboto – 400, 500, 700, 900 */
 body{
     color: var(--paragraph-text-color);
     background-color: #ffffff;
     }
h1{
    color:red;
}
p{
    color: var(--paragraph-text-color);
}
/* p{
    color: var(--paragraph-text-color);
} */
    /*для hero section background-color: 2F303A; */
     
     /* колір лого color:000000; */
    
     
     
     /* колір для Н1 і кнопок color:FFFFFF; */
 }
 .list{
     list-style: none;
 }
 /* UP */
 /* site-nav */
 .site-nav .link{
     color: var( --title-text-color);
 }
 .link:hover,
 .link:focus{
     color: var(--accent-color);
 }
 .link:active{
     color:var(--accent-color);
 }
 /* hero section */

/* section */
.section-title{
   color: var( --title-text-color);
}
/* features */
.features .title{
 color: var( --title-text-color);
}